<aside>
    <%= form_with model: @payment, url: '/pages/create' do |f| %>
        <table>
            <tr>
                <td><%= f.label "Amount (AUD)" %></td>
                <td>$ <%= f.text_field :amount %></td>
            </tr>
            <tr>
                <td><%= f.label :comment %></td>
                <td><%= f.rich_text_area :comment %></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="commit" value="" class="paypal" data-disable-with="" style="background-image: url(<%= asset_path 'paypal.png' %>);">
                </td>
            </tr>
        </table>
    <% end %>
</aside>

